.formAdd {
  display: flex;
  flex-wrap: wrap;
  @media (min-width: 900px) {
    margin-top: 5%;
    width: 80%;
  }

  .inputAdd {
    background-color: #FFF;
    border-radius: 10px;
    border: none;
    padding: 5px 10px;
    margin: 10px 15px;
    width: 100%;
    font-family: 'Dongle', sans-serif;
    font-size: 20px;
  }

  .cat {
    background-color: #FFF;
    padding: 5px 10px;
    margin: 10px 15px;
    color: #707070;
    border-radius: 10px;
    width: 100%;

    .catTitle {
      color: #707070;
      font-size: 20px;
      margin: 0;
    }
  }

  .btnNewArticle {
    border: none;
    border-radius: 5px;
    background-color: #FFF;
    color: #707070;
    padding: 10px;
    margin: 10px 15px;
  }
}