body {
    margin: 0;
    background-color: #EBEAEF;
    font-family: 'Dongle', sans-serif;
}

main {

}

.tuiles {
    display: flex;
    flex-wrap: wrap;

    .column-item {
        flex: 1 1 100px;

    }
}




