header {
  display: flex;
  justify-content: flex-end;

  .titleApp {
    text-transform: uppercase;
    font-size: 45px;
    margin: 5px;
  }

  .logo {
    margin: 15px;
    height: 30px;
  }
}

nav {
  .search {
    display: flex;
    margin-bottom: 20px;

    .inputSearch {
      background-color: #FFF;
      border-radius: 10px;
      border: none;
      padding: 5px;
      margin: 0 15px;
      width: 100vh;
      font-family: 'Dongle', sans-serif;
      font-size: 20px;
    }

    .settingsBtn {
      border: none;
      background-color: #FFF;
      border-radius: 10px;
      padding: 5px;
      margin: 0 15px;

      img {
        height: 30px;
      }
    }
  }

  .optionsMenu {
    background-color: #FFF;
    border-radius: 15px;
    padding: 15px;
    margin: 15px;

    ul {
      list-style: none;
      padding: 0px;
    }
  }

}

